.content-time-price{
    font-family: 'Inter';
    font-style: normal;
    padding-top: 40px;
}
.content-time-price-title{
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
}
.content-time-price-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 20px;
}
.content-time-price-buttom {
    background: linear-gradient(180deg, #f80 0, #f60 100%);
    color: #fff;
    box-shadow: 0 20px 60px rgba(255, 102, 0, 0.45);
    border-radius: 35px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    padding: 20px 40px;
}
.content-time-price-buttom span{padding-left: 15px;}
.content-time-price-buttom:hover {
    text-decoration: none;
    color:#fff;
}
