.content-follows{
	max-width: 417px;
	width: 100%;
	margin: 0 auto;
	font-family: 'Inter';
	font-style: normal;
	padding-bottom: 50px;
}
.content-follows-links a{
	cursor: pointer;
	margin-left: 23px;
}
.content-follows-title{
	font-size: 24px;
	line-height: 48px;
	font-weight: 400;
	letter-spacing: -0.3px;
	padding-bottom: 20px;
	text-align: center;
}